version: '3.3'
services:
  toolbox:
    build: 
      context: ./
      args:
        UNAME: toolbox
        UID: 1000
        GID: 1000
        TERRAFORM: true
        TERRAFORMVERSION: latest
        HELM: true
        HELMVERSION: latest
        KUBECTL: false
        KUBECTLVERSION: latest
        HEROKU: true
        GCLOUD: true
        AWSCLI: true
        AWS_SSM: true
        HCLOUD: true
        HCLOUDVERSION: latest
        BITWARDEN: true
        BITWARDENVERSION: latest
        VAULT: true
        VAULTVERSION: latest
        AZURE_CLI: true
        STARSHIP: true
        STARSHIPVERSION: latest
        UV: true
        UVVERSION: latest
        KEYVAULT: true
        MFAHELPER: true
    networks:
      - toolbox-net
    volumes:
      - toolbox-home:/home/toolbox
      - ./.zshrc:/home/toolbox/.zshrc:ro
      - ./starship/starship.gruvbox-rainbow.toml:/home/toolbox/.config/starship.toml:ro
    container_name: toolbox
    entrypoint: /bin/sleep infinity

volumes:
  toolbox-home:
networks:
  toolbox-net:
